.btn {
  display: inline-block;
  text-align: center;;
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin: 0px 10px;
  border: 1px solid var(--siteBorderColor);
  border-radius: 10px;
  cursor: pointer;
}

.hover {
  background-color: var(--hoverColor);
}

.click {
  background-color: var(--hoverColor);
}

.radio-btns {
  text-align: center;
}