.ledger-container {
  border: 1px solid var(--siteBorderColor);
  max-width: 1000px;
  margin: 50px;
}

.ledger-btns {
  height: 50px;
  line-height: 50px;
}
/* TRADELIST */
  
.trade-list {
  display: flex;
  flex-direction: column;
}
  
.trade,
.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 0px 5px 25px;
  border: 1px solid var(--siteBorderColor);
}
  
.header {
  font-weight: bold;
  border: 1px solid var(--siteBorderColor);
  background-color: var(--tradeListHeaderColor);
}
  
.hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}