/* NEWTRADE */

.new-trade {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
  
.new-trade input {
  margin: 10px 0px 0px 10px;
}
  
.new-trade button {
  margin: 10px auto 0px auto;
}

/* TRADELIST */
  
.trade-list {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px;
}
  
.trade,
.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 0px;
  border-bottom: 1px solid rgba(211, 211, 211, .6);
}
  
.header {
  font-weight: bold;
}
  
.hover {
  background-color: rgba(173, 216, 230, .5);
  border: 1px solid rgba(173, 216, 230, .5)
}