.portfolio {
  margin: 50px auto;
  max-width: 1000px;
  display: grid;
  grid-template-areas: 
    'data data chart1'
    'chart2 chart3 chart4';
  grid-template-rows: 400px 400px;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio div {
  border: 1px solid var(--siteBorderColor);
}

#chart1 {
  grid-area: chart1;
}

#chart2 {
  grid-area: chart2;
}

#chart3 {
  grid-area: chart3;
}

#chart4 {
  grid-area: chart4;
}

.data {
  grid-area: data;
}